/* -------------------------- *
 * GLOBAL
 * -------------------------- */
* {
	box-sizing/* ftw */: border-box;
}

body {
	overflow-y: scroll;
	padding: 0; /* override bs */
}

*,
p,
input,
button,
select,
textarea {
	font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, STHeiti, "Microsoft YaHei", "Droid Sans Fallback", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
}

#wrapper {
	padding: 0;
	margin: 1em 0 0 0;
}

#content {
	background-color: #f6f6ef;
	min-height: 1024px;
	padding-bottom: 100%;
	overflow: auto; /* inner div is float */
}

#latest {
	border-bottom: 1px solid #eee;
}

#read,
#banned {
	display: none;
}

#read-items-toggle,
#banned-items-toggle {
	text-align: left;
}
#items,
#item {
	height: 100%;
	overflow-y: auto;
	float: left;
	margin-left: 0; /* override .span */
	padding: 1em;
}

#item {
	border-left: 1px solid #eee;
}

#items::-webkit-scrollbar,
#item::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

#items::-webkit-scrollbar-thumb,
#item::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: rgba(0,0,0,.5);
}

.width-tb,
.footer-tb {
	display: table;
	width: 100%;
}

.width-tb > div,
.footer-tb > div {
	display: table-cell;
}

.footer-tb-reload {
	width: 1px;
	white-space: nowrap;
}

.footer-tb-more {
	padding-left: 12px;
}

#nav,
.width-tb {
	padding: 0 1em;
}

.width-tb-margin {
	width: 30%;
	padding-right: 12px;
}

.width-tb-splitter {
	width: 100%;
}

#width-adjuster,
#width-splitter {
	margin: 0;
	padding: 0;
	width: 100%;
}

/* -------------------------- *
 * NAV
 * -------------------------- */
.brand {
	font-size: 2em;
	color: black;
	text-decoration: none;
	line-height: 1.2em;
}

.brand-v2ex {
	font-family: "Arial Black", Arial, sans-serif;
	font-weight: 900;
}


.brand:hover,
.brand:active {
	color: black;
	text-decoration: none;
}

/* -------------------------- *
 * ITEM
 * -------------------------- */
.item {
	border-bottom: 0;
	border-radius: 0;
	position: relative;
	text-align: left;
	width: 100%;
	margin-bottom: 1em;
}

.item.expand {
	background-color: #f6f6b6;
}

.item-heading {
	/*white-space: nowrap;*/
	font-size: 1.1em;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.item-heading a,
.item-heading a:active,
.item-heading a:hover,
.item-heading a:visited {
	color: black;
	text-decoration: none;
}

.item-heading .tag a:visited {
	color: black;
}

.item-heading .tag a:hover {
	text-decoration: underline;
}

.item-meta,
.item-meta a {
	color: #888;
}

.item-meta .author {
	font-weight: 900;
}

.item-comments {
	display: none;
}

#item .item-comments {
	display: block;
}

/* -------------------------- *
 * COMMENTS
 * -------------------------- */
.comment-item {
	overflow: auto;
	background-color: #f6f6ef;
	/*padding: .5em;*/
	margin-bottom: .5em;
}

div[class^=page-] {
	display: none;
}

.op .comment-item {
	background-color: #f6f6b6;
	margin-bottom: 2em;
}

div[class^=page-] .comment-item:nth-child(odd) {
	background-color: #eeeeee;
}

div[class^=page-] .comment-item:nth-child(even) {
	/*background-color: #e1e1e1;*/
}

.haspage-1 .page-1,
.haspage-2 .page-2,
.haspage-3 .page-3,
.haspage-4 .page-4,
.haspage-5 .page-5,
.haspage-6 .page-6,
.haspage-7 .page-7,
.haspage-8 .page-8,
.haspage-9 .page-9,
.haspage-10 .page-10 {
	display: block;
}

.comment-meta {
	margin-bottom: .2em;
	color: #888;
}

.comment-meta .author a {
	font-weight: 900;
	color: #888;
}

.comment-content {
	color: black;
	font-size: 1em;
	line-height: 1.7em; /* improve line-height since we use MSYH, discussions: http://www.v2ex.com/t/33832 */
	overflow-x: auto;
	word-wrap: break-word;
}

.comment-content a {
	color: black;
	text-decoration: none;
}

.comment-content a:hover {
	text-decoration: underline;
}

.comment-content img,
.comment-content embed,
.comment-content .gist {
	max-width: 100% !important;
	width: 100%;
}

.comment-form {
	display: none;
	margin: 0; /* override bs */
}

.comment-form textarea {
	width: 100%;
	height: 8em;
}

.btn-show-comment-box {
	width: 100%;
}

.btn-load-page {
	width: 100%;
}

.goto-item {
	margin-top: 1em;
}

/* -------------------------- *
 * MISC
 * -------------------------- */
.dropdown-menu-no-caret:after {
	content: none !important;
}

.full-width {
	width: 100%;
}

