/* -------------------------- *
 * GLOBAL
 * -------------------------- */
* {
	box-sizing: border-box;
	font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, STHeiti, "Microsoft YaHei", "Droid Sans Fallback", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
}

body {
	overflow-y: scroll;
	padding: 0; /* override bs */
}

.container-fluid {
	padding: 0; /* override bs */
}

/* -------------------------- *
 * NAV
 * -------------------------- */
/*
#logo:before {
	content: "Subv";
	font-size: 80%;
	vertical-align: super;
}
*/

.brand {
	font-family: "Arial Black", arial, sans-serif;
	font-weight: 900;
	font-size: 2em;
	color: black;
	text-decoration: none;
}

.brand:hover,
.brand:active {
	color: black;
	text-decoration: none;
}

#nav .search-form {
	display: inline-block;
	margin: 0;
}

#nav {
	padding: 1em 0;
}

/* -------------------------- *
 * ITEM
 * -------------------------- */
.item {
	border-bottom: 0;
	border-radius: 0;
	position: relative;
	text-align: left;
	width: 100%;
	margin-bottom: 1em;
}

.item.expand {
	background-color: #f6f6b6;
}

.item.active {
	background-color: #fafafa;
	border-left: 0;
	border-right: 0;
	cursor: auto;
	margin-bottom: 1em;
}

/* helper classes */
/*
.item.active,
.item:last-child {
	border-bottom: 1px solid #cccccc;
}
*/

.item.active .control-bar {
	display: block;
}

.item.active .item-meta {
	display: none;
}

#item .item-comments,
.item.active .item-comments {
	display: block;
}
/* ^ helper classes */

.item .item-heading {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	/*white-space: nowrap;*/
}

.item .item-heading h3 {
	font-weight: normal;
}

.item-heading a:hover,
.item-heading a:active,
.item-heading a {
	color: black;
	text-decoration: none;
}

.item-heading a:visited {
	color: #888;
}

/*
.item-heading .tag {
	font-size: 80%;
	color: #888;
}

.item-heading .tag a {
	color: #888;
}
*/
.item-heading .tag a:visited {
	color: black;
}

.item-heading .tag a:hover {
	text-decoration: underline;
}

.item-heading h3 {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}

.item .item-meta {
	font-size: 1.2em;
	color: #888;
}

.item .item-meta a {
	color: #888;
}

.item-meta .views-count,
.item-meta .comments-count {
}

.item-meta .author {
	font-weight: 900;
}

.item-meta .time {
}

.item-comments {
	display: none;
}

.item-comments div[class|=page-] {
	display: none;
}

.item-comments.haspage-1 .page-1,
.item-comments.haspage-2 .page-2,
.item-comments.haspage-3 .page-3,
.item-comments.haspage-4 .page-4,
.item-comments.haspage-5 .page-5,
.item-comments.haspage-6 .page-6,
.item-comments.haspage-7 .page-7,
.item-comments.haspage-8 .page-8,
.item-comments.haspage-9 .page-9,
.item-comments.haspage-10 .page-10 {
	display: block;
}

.item-comments .op .comment-item .comment-main {
	/*background-color: #e9b96e;*/
	margin-bottom: 2em;
	background-color: #f6f6b6;
}

.item .control-bar {
	background-color: #d3d7cf;
	border-radius: 2em;
	display: none;
	float: left;
	opacity: 0;
	padding: .5em;
	position: absolute;
	top: 200px;
	-webkit-transition: all .4s;
}

.item .control-bar:hover {
	box-shadow: 0 0 .6em black;
	opacity: 1;
	-webkit-transition: all .4s;
}

.item .control-bar p {
	cursor: pointer;
	font-size: 3em;
	line-height: 1em;
	margin: 0;
	text-align: center;
	-webkit-transition: all .4s;
}

.item .control-bar p:hover {
	text-shadow: 0 0 .4em black;
	-webkit-transition: all .4s;
}

.item-checker {
	display: none; /* tmp disable it */
	left: -4em;
	opacity: .1;
	position: absolute;
}

.item-checker p {
	cursor: pointer;
	font-size: 3em;
	margin-top: .1em;
}

.item-checker-checked {
	color: green;
	opacity: 1;
}

.item-checker:hover {
	opacity: 1;
}

/* -------------------------- *
 * COMMENTS
 * -------------------------- */
.comment-item {
	overflow: auto;
	background-color: #f6f6ef;
	padding: .5em;
	margin-bottom: .5em;
}

.comment-item .comment-main {
	margin-bottom: .4em;
	/*margin-left: 75px;*/
	/*-webkit-transition: all 1s;*/
}

.comment-item-op {
	margin-bottom: 2.5em;
	margin-top: 2em;
}

.comment-item-op .comment-main {
	border: 1px dashed black;
}

.comment-item .comment-meta {
	margin-bottom: .2em;
	color: #888;
}

.comment-item .author a {
	font-weight: 900;
}

.comment-item .author a {
	color: #888;
}

.comment-item .comment-content {
	color: black;
	font-size: 1em;
	line-height: 1.7em; /* improve line-height since we use MSYH, discussions: http://www.v2ex.com/t/33832 */
	overflow-x: auto;
	word-wrap: break-word;
}

.comment-item .comment-content a {
	color: black;
	text-decoration: none;
}

.comment-item .comment-content a:hover {
	text-decoration: underline;
}

.comment-item .comment-content img,
.comment-item .comment-content embed,
.comment-item .comment-content .gist {
	max-width: 100% !important;
	width: 100%;
}

.comment-item .comment-no {
	display: none;

	float: left;
	padding: .6em;
	text-align: right;
	width: 64px;
}

.comment-item .comment-no p {
	color: #888;
	font-size: 2em;
	line-height: .8em;
	margin: 0;
}

.comment-item .comment-no p:before {
	content: "#";
	font-size: 80%;
	vertical-align: super;
}

.item-comments .comment {
	/*margin-left: 75px;*/
}

.item-comments .comment textarea {
	width: 100%;
	height: 8em;
}

/* -------------------------- *
 * MISC
 * -------------------------- */
/*.item:hover .item-checker,*/

#overlay {
	background-color: black;
	display: none;
	height: 100%;
	left: 0;
	opacity: .5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.dropdown-menu-no-caret:after {
	content: none !important;
}

#read,
#banned {
	display: none;
}

#latest,
#read,
#banned {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 2px solid #eeeeec;
}

.container .row:last-child {
	margin-bottom: 128px;
}

#more {
	width: 100%;
}

#items,
#item {
	height: 100%;
	overflow-y: auto;
	float: left;
	margin-left: 0; /* override .span */
}

#items {
	background-color: #f6f6ef;
	padding: 1em;
}

#items::-webkit-scrollbar,
#item::-webkit-scrollbar {
	width: 4px;
}
 
#items::-webkit-scrollbar:horizontal,
#item::-webkit-scrollbar:horizontal {
	width: 4px;
}

#items::-webkit-scrollbar-thumb,
#item::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: rgba(0,0,0,.5);
}

#width-controller-container {
	padding: 1em 0;
}

#width-controller-container table {
	width: 100%;
}

#width-controller-container table td:first-child {
	white-space: nowrap;
	width: 30%;
}

#width-controller-container table td {
	text-align: center;
}

#width-adjuster,
#width-splitter {
	margin: 0;
	padding: 0;
	width: 95%;
}

.js-show-comment-box {
	width: 100%;
}

.comment {
	display: none;
}
