* {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
	/*-webkit-transition: .5s;*/
}

#list-container {
	/*width: 720px;*/
	/*margin: auto;*/
}

.brand {
	font-family: "Arial Black", arial, sans-serif;
	/*font-weight: 900;*/
	/*font-size: 2em !important;*/
}

#post {
	border: 1px solid black;
	height: 200px;
}

.item {
	border-bottom: 1px dotted black; /* use without .well */
	padding: 1.2em .6em;
	position: relative;
}

.item .meta {
	padding-top: .5em;
}

.label-tag {
	padding: 2px;
	font-size: 1em;
	vertical-align: baseline; /* clear bs's middle */
}

.btn-counts {
	padding: 4px 8px;
	font-size: 1em;
	vertical-align: baseline; /* clear bs's middle */
	min-width: 8em;
}

#toolbar-container {
	margin-top: 2em;
	height: 128px;
	text-align: center;
}

#more {
	width: 100%;
}

.item-checker {
	position: absolute;
	left: -4em;
	opacity: .2;
}

.item-checker p {
	font-size: 4em;
	margin-top: .1em;
	cursor: pointer;
}

.item-checker-checked {
	color: green;
	opacity: 1;
}

.item:hover {
	background-color: #fffff0;
	-webkit-transition: .2s;
}

/*.item:hover .item-checker,*/
.item-checker:hover {
	opacity: 1;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: black;
	opacity: .5;
	display: none;
}

#topic {
	height: 88%;
	position: fixed;
	top: 5%;
	z-index: 100;
	overflow-y: scroll;
	display: none;
}

.comments-container {
	margin-left: 100px;
}

.comment .content {
	font-size: 1.5em;
	line-height: 1.55em;
	overflow-x: auto;
	word-wrap: break-word;
}

.comment .content img {
	width: 100%;
}

.comment {
	margin-bottom: .4em;
	border-top: 1px dotted black;
	padding: .6em;
}

.comment:first-child {
	border-top: none;
	margin-top: 2em;
	margin-bottom: 2.5em;
	background-color: #fce94f;
}

.comment .meta {
	margin-bottom: 1em;
}

.comment .author {
	font-size: 1.4em;
	font-weight: 900;
}

.comment a.author {
	color: #444;
}

.comment .time {
	float: right;
}
