body {
	font-size: 100%;
	min-width: 576px;
}

a {
	text-decoration: none;
	/*color: black;*/
}

/*
a:hover {
	text-decoration: underline;
}
*/

.toolbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.toolbar ul li {
	list-style: none;
	display: inline;
}

#board, .topic {
	/*border: 1px solid black;*/
	padding: 4px;
}

.topic {
	/*border: 1px solid black;*/
	/*border-top: 1px solid black;
	border-bottom: 1px solid black;*/
	padding: 4px;
	margin: .5em 0;
}

.topic .title {
	display: inline;
}

.topic .category,
.topic .category a {
	color: #888;
	font-size: .6em;
}

.topic .category a:hover {
	text-decoration: underline;
}

.topic .meta {
	color: #888;
	font-size: .6em;
}

.topic .meta a:hover {
	text-decoration: underline;
}

.topic.expanded {
	border: 1px dotted gray;
}
