body {
	font-size: 100%;
	/*
	min-width: 576px;
	max-width: 624px;
	*/
	/*width: 240px;*/
}

a {
	text-decoration: none;
	/*color: black;*/
}

/*
a:hover {
	text-decoration: underline;
}
*/

.toolbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.toolbar ul li {
	list-style: none;
	display: inline;
}

#toolbar, #board, .topic {
	/*border: 1px solid black;*/
	padding: 4px;
}

.topic {
	/*border: 1px solid black;*/
	/*border-top: 1px solid black;
	border-bottom: 1px solid black;*/
	padding: 4px;
	margin: .5em 0;
}

.topic .title {
	display: inline;
}

.topic .category,
.topic .category a {
	color: #888;
	font-size: .6em;
}

.topic .category a:hover {
	text-decoration: underline;
}

.topic .meta {
	color: #888;
	font-size: .6em;
}

.topic .meta a:hover {
	text-decoration: underline;
}

.topic.expanded {
	border: 1px dotted gray;
}

.commentarea .comment {
	border-left: 3px solid #fff;
	padding: .2em 0 .2em .5em;
	margin-top: .4em;
	margin-left: .8em;
}

.topic:hover {
	background-color: #eee;
}

/*
.commentarea .comment:nth-child(odd) {
	background-color: #eee;
}
*/
